<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/sign">signdata</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">User-List</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/dashboard"

          >Dashboard</a>

        </li>
        </ul>
    </div>

  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item-end-right">
      <button class="btn btn-danger"(click)="Logout()" >
        <i class="fas fa-sign-out-alt" aria-hidden="false">Logout</i>
      </button>
    </li>
  </ul>
</nav>
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">avatar</th>
      <th scope="col">firstname</th>
      <th scope="col">last name</th>
      <th scope="col">email</th>

      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userdata of userid; index as i">
      <td>{{ userdata.id }}</td>
      <td><img src  = {{userdata.avatar}}/></td>
      <td>{{ userdata.first_name }}</td>
      <td>{{ userdata.last_name }}</td>
      <td>{{ userdata.email }}</td>
      <td>
        <button
          class="btn btn-danger font-20"
          (click)="DeleteUserData(userdata.id)"
        >
          <i class="fa fa-trash" aria-hidden="false"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
