<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <div class="card-body">
            <form class="container">
              <div class="mb-3" class="input-group mb-3">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label col-form-label-sm">Email </label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" />
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3" class="input-group mb-3">
                <label for="exampleInputPassword1" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" />
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary" (click)="user1()">sign-in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
