<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/sign">signdata</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <ul class="nav-item">
          <li class="active" class="nav-link active">Dashboard</li>

        </ul>
        <li class="nav-item">
          <a  class="nav-link" routerLink="/users">User-List</a>

        </li>
      </ul>
    </div>
  </div>

  <ul class="nav justify-content-end">
    <li class="nav-item-end-right">
      <button class="btn btn-danger " (click)="Logout()">
        <i class="fa fa-sign-out">Logout</i>
      </button>
    </li>
  </ul>

</nav>



<br />
<br />
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <tr>Token-Id = {{data}}</tr><br/>
    <tr>Total Number Of Users = {{Total}}</tr><br/>
    <a routerLink="/users" class="btn btn-primary">Go To Users-List</a>
  </div>
</div>




