

.fas {
  margin-left: 20px;
  margin-right: 20px;

}
.nav-item .active{
  background-color: grey;
}
.card{
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
align-items: center;
}

