<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <div class="card-body">
            <form [formGroup]="Register" (ngSubmit)="newUser()">
              <div class="mb-3" class="input-group mb-3">
                <label for="exampleInputPassword1" class="col-sm-3 col-form-label col-form-label-sm">Name</label>
                <input type="name" class="form-control" name="name" formControlName="name" />
              </div>
              <div class="mb-3" class="input-group mb-3">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label col-form-label-sm">Email </label>
                <input type="email" class="form-control" name="email" formControlName="email" />
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3" class="input-group mb-3">
                <label for="exampleInputPassword1" class="col-sm-3 col-form-label col-form-label-sm">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password" />
              </div>

              <button type="submit" class="btn btn-primary" (click)="newUser()">sign-up</button><br />
              <br />
              <a class="card-title" routerLink="/login">Sign in instead </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
